/* main variables */
:root {
    --bg-color: #f3f2f3;
    --btn-green: #13a867;
    --hero-filter: #f6c026;
    --midsection-filter: #13a867;
}

/* BACKGROUND HEADER */

.background_image {
    background-size: cover;
    background-repeat: no-repeat;
    background: var(--hero-filter);
    padding: 30px 60px;
    padding-bottom: 0;
}


/* ALL BUTTONS SAME */
.btn,
.hero-btn button {
    border: none;
    outline: none;
    background-color: var(--btn-green);
    color: var(--secondary-text-color);
    font-size: var(--font-size-button);
    font-weight: bolder;
    padding: 8px 12px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.hero-btn button {
    margin-bottom: 20px;
}

.btn:hover,
button:hover {
    transform: scale(1.1);
}

/* HERO SECTION*/
#hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--secondary-text-color);
}

.txt {
    max-width: 350px;
    margin: auto;
}

.txt h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 40px;
}

h1,
h2,
h3,
h4 {
    font-family: var(--headline-font);
}

.hero-btn,
.hero {
    text-align: center;
    margin: auto;
}


.focus {
    text-align: center;
}

#card-container p {
    color: black;
    text-align: justify;
}

/* 3 CARDS, flex */
#card-container {
    margin: 30px;
}

h2,
h3 {
    text-align: center;
}

.card-one,
.card-two,
.card-three {
    flex: 0 0 auto;
    width: 300px;
    height: 300px;
    padding: 35px;
    margin: 50px auto;
    /**CHANGE COLOR; ADD SHADOW FINAL DESIG?**/
    background-color: #FFFFFF;
    position: relative;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
    box-shadow: 0px 0px 7px 0px rgba(140, 140, 140, 1);
}

#card-container img {
    max-width: 60px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%);
    background-color: #f3f2f3;
    border-radius: 50%;
}

/* VIDEO SECTION */

#video-container {
    /* background-image: url("/img/home-midbck-img.svg");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: var(--midsection-filter);
    padding: 10px;
}


.video iframe {
    /* width: -webkit-fill-available; */
    max-width: 100%;
}

.video-txt {
    color: var(--secondary-text-color);
    max-width: 400px;
    margin: auto;

}

/* COMPANIES SECTION */

#companies img {
    max-width: 50%;
}

#companies h2 {
    text-transform: none;
}

#companies ul li {
    list-style-type: none;
    margin: 35px 0;
    padding: 10px;
}

.first-row,
.second-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}



@media (min-width: 1053px) {
    .background_image {
        background: url("img/hero-img.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 640px;
        margin-bottom: 100px;
    }

    .hero img {
        position: relative;
        bottom: -100px;
    }

    #video-container {
        background-image: url("/img/home-midbck-img.svg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (min-width: 700px) {

    #card-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-one,
    .card-two,
    .card-three {
        margin: 20px;
    }

    #video-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }

    .video iframe {
        width: 560px;
    }

    .video-txt {
        margin: 20px;
    }

    #companies img {
        max-width: 50%;
    }

}
