/** ADD CSS VARIABLES FONT, COLORS **/

body {
  margin: 0;
}

#wave-container img {
  margin: 0;
  width: 100%;
}

/* NAVIGATION, flex layout */
.logo {
  position: relative;
  margin-left: 3%;
  margin-top: -30%;
}

.logo img {
  max-width: 5%;
}

#nav {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5px;
  right: 3%;
}

#nav li {
  list-style: none;
  padding: 7px;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  /*COLOR CHANGE TO VAR*/
  color: white;
}

/* ALL BUTTONS SAME */
.btn button,
.hero-btn button {
  border: none;
  /* border-radius: 15px; */
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

/* HERO SECTION, grid layout */
#hero {
  display: grid;
  grid-template-columns: 44% auto;
  grid-template-rows: auto;
  gap: 50px;;
  margin-top: 75px;
}

#hero h1,
p,
.hero-btn {
  grid-area: 1/1/1/1;
  /*CHANGE TO VAR COLORS*/
  color: white;
}

#hero .hero img {
  grid-area: 1/2/1/2;
  max-width: 100%;
}

h1, h2 {
  text-transform: uppercase;
}

.txt {
  margin-left: 7.5%;
}

.hero-btn,
.hero {
  text-align: center;
}


.focus{
  text-align: center;
  margin-top: 55px;
  margin-left: 350px;
  margin-right: 350px;
}
.focus p, #card-container p {
  color: black;
  text-align: left;
}

/* 3 CARDS, flex */
#card-container{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: center; */
 
 
}

 .card-one, .card-two, .card-three {
  max-width: 20%;
  padding: 10px;
/**CHANGE COLOR; ADD SHADOW FINAL DESIG?**/
 background-color: rgb(243, 242, 242);
}

/* VIDEO SECTION */

#video-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  /* gap: 50px; */
  margin-top: 75px;
  background-color: teal;
  
}

.video {
  grid-area: 1/1/1/1; 
  margin-left: auto;
  margin-right: auto; 
}

 .video-txt {
  grid-area: 1/2/1/2;
  /*CHANGE TO VAR COLORS*/
  color: white;
  margin-top: 25px;  
}



#container {
  position: relative;
  max-height: 100vw;
}

footer {
  margin-bottom:0;
  width: 100%; 
  text-align: center;  
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}

footer img {
  max-width: 20%;
}

h5 {
  text-transform: uppercase;
}
footer p {
  color: black;
  text-align: left;
}

