/** ADD CSS VARIABLES FONT, COLORS **/

body{
  margin: 0;
}
#wave-container img{
  margin:0;
  width: 100%;
}

/* NAVIGATION, flex layout */
.logo {
  position: relative;
  margin-left: 3%;
  margin-top: -30%; 
}
.logo img {
  max-width: 5%;
}

#nav {
  display: flex;
  flex-direction: row; 
  position: absolute; 
  top:5px;
  right:3%;
}

#nav li {
  list-style: none;
  padding: 7px; 
  text-transform: uppercase; 
}

#nav li a{
  text-decoration: none;
  /*COLOR CHANGE TO VAR*/
  color: white;
}

/* ALL BUTTONS SAME */
.btn button, .hero-btn button{
  border: none;
  /* border-radius: 15px; */
  padding: 3px;
  text-align: center;
  text-transform: uppercase;
}

/* HERO SECTION, grid layout */
#hero {
  display: grid;
  grid-template-columns: 44% auto;
  grid-template-rows: auto;
  margin-top: 75px;
}

#hero h1, p, .hero-btn {
  grid-area: 1/1/1/1;
  /*CHANGE TO VAR COLORS*/
  color: white;
}

#hero .hero img {
  grid-area: 1/2/1/2; 
  max-width: 100%;
}

h1{
  text-transform: uppercase;
}
.txt {
  margin-left:7.5%; 
}

.hero-btn, .hero {
  text-align: center;
}





  